
/*-- responsive --*/
@media(max-width:1440px){
	
}
@media(max-width:1366px){
	
}
@media(max-width:1280px){
	.container h2{
        font-size: 3em;
    }
    .container li{
        font-size: 2em;
    }
}
@media(max-width:800px){
	.container h2{
        font-size: 2.5em;
    }
    .container li{
        font-size: 1.5em;
    }
}
@media(max-width:736px){
	
}
@media(max-width:667px){
	
}
@media(max-width:640px){
	
}
@media(max-width:600px){
	
}
@media(max-width:414px){
    .container h2{
        font-size: 1.7em;
    }
    .container li{
        font-size: 1.3em;
    }
}
@media(max-width:384px){
    .container h2{
        font-size: 1.5em;
    }
    .container li{
        font-size: 1.2em;
    }
}
@media(max-width:320px){
    .container h2{
        font-size: 1.3em;
    }
    .container li{
        font-size: 1em;
    }
}
/*-- //responsive --*/