
/*-- responsive --*/
@media(max-width:1920px){
	#wifi_text{
        margin-top: 15%;
    }
}
@media(max-width:1440px){
	
}
@media(max-width:1366px){
	
}
@media(max-width:1280px){
    #free_wifi{
        width: 420px;
        height: 420px;
    }
    #logo{
        width: 650px;
        height: 100px;
    }
	#wifi_text{
        margin-top: 15%;
    }
    #facebook_sso{
        height: 46px;
        font-size: 130%
    }
	#google_sso{
        height: 46px;
        font-size: 130%
    }
}
@media(max-width:800px){
    #free_wifi{
        width: 320px;
        height: 320px;
    }
    #logo{
        width: 600px;
        height: 90px;
    }
    #facebook_sso{
        height: 46px;
        font-size: 130%
    }
	#google_sso{
        height: 46px;
        margin-top: 2%;
        font-size: 130%
    }
}
@media(max-width:736px){
	
}
@media(max-width:667px){
	
}
@media(max-width:640px){
	
}
@media(max-width:600px){
	
}
@media(max-width:414px){
    #free_wifi{
        width: 220px;
        height: 220px;
    }
    #logo{
        height: 60px;
    }
    #facebook_sso{
        height: 46px;
        font-size: 120%;
    }
    #google_sso{
        margin-top: 2%;
        height: 46px;
        font-size: 120%;
    }
    #facebook_icon, #google_icon{
        padding-top: 1.3%;
    }
    .container h3{
        font-size: 3em;
    }
}
@media(max-width:384px){
    #logo{
        height: 65px;
    }
    #free_wifi{
        width: 200px;
        height: 200px;
    }
    #wifi_text{
        font-size: 25px;
    }
}
@media(max-width:375px){
    #logo{
        height: 60px;
    }
    #free_wifi{
        width: 200px;
        height: 200px;
    }
    #wifi_text{
        font-size: 25px;
    }
}
@media(max-width:360px){
    #logo{
        height: 50px;
    }
}
@media(max-width:320px){
    #logo{
        height: 45px;
    }
    #wifi_text{
        font-size: 22px;
    }
}
/*-- //responsive --*/