/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 31, 2017, 2:27:48 PM
    Author     : Reed92
*/

html { height: 100% }

body{
    background-image:    url(images/Landing_background.png);
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-size:     100% 100%;
}

#company_logo_container{ margin-top: 2%; }

#connected_text{
    margin: 0;
    margin-top:     5%;
    margin-bottom:  3%;
    text-align:     center;
    font-family:    Roboto;
    font-size:      200%;
    font-weight:    bold;
}

#feeding_time, #feeding_name, #show_time, #show_name{
    font-family: Roboto;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
}

#feeding_pic, #feeding_details, #show_pic, #show_details{
    margin-bottom: 2%;
}

#blippar_ad{
    margin-top: 1%;
}

#play_store_bt{
    margin-top: 2%;
}

#app_store_bt{
    margin-top: 0.5%;
}

